<header class="site-header">
  <div class="container header-inner">
    <a href="/" class="brand" aria-label="いちご園ホーム">
      <span class="brand-mark">15 Ichie</span>
      <span class="brand-sub">Strawberry Farm</span>
    </a>
    <nav aria-label="メインナビゲーション">
      <ul class="nav-list">
        <li><a href="/about/">農園紹介</a></li>
        <li><a href="/taste/">おいしさの秘密</a></li>
        <li><a href="/products/">商品情報</a></li>
        <li><a href="/access/">アクセス</a></li>
        <li><a href="/news/">新着情報</a></li>
      </ul>
    </nav>
  </div>
</header>
